body{
    background-color: lavender;
}
h1{
    text-align: center;
}
button{
    padding: 20px;
    font-size: 16pt;
}
#table, th, td {
    border: 1px solid midnightblue;
    text-align: center;
    color: white;
    margin: 0px;
  }
  td{
      color:black;
  }
#table{
    margin-left: auto;
    margin-right: auto;
}
  th{
      background-color: midnightblue;
  }